In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("Agg").getOrCreate()

In [4]:
spark

In [7]:
df_pyspark = spark.read.csv("./data/test3.csv",header=True, inferSchema=True)

In [8]:
df_pyspark.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [9]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

### Groupby

In [13]:
df_pyspark.groupby("Name").sum()

DataFrame[Name: string, sum(salary): bigint]

Look, only sum salary because is int

In [11]:
df_pyspark.groupby("Name").sum().show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

Groupby to find the maximun salary

In [18]:
df_pyspark.groupby("Name").max().show()

+---------+-----------+
|     Name|max(salary)|
+---------+-----------+
|Sudhanshu|      20000|
|    Sunny|      10000|
|    Krish|      10000|
|   Mahesh|       4000|
+---------+-----------+

Groupby Departments wich gives maximun salary

In [12]:
df_pyspark.groupby("Departments").sum().show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [14]:
df_pyspark.groupby("Departments").mean().show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [15]:
df_pyspark.groupby("Departments").count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [20]:
df_pyspark.agg({"Salary":"sum"}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+